#@ load("@ytt:data", "data")

---
apiVersion: kbld.k14s.io/v1alpha1
kind: Sources
sources:
- image: secretgen-controller
  path: .
  docker:
    build:
      #! Always rebuild image
      pull: true
      noCache: true
      rawOptions: #@ ["--build-arg", "SGCTRL_VER="+data.values.dev.version]
---
apiVersion: kbld.k14s.io/v1alpha1
kind: ImageDestinations
destinations:
- image: secretgen-controller
  newImage: #@ data.values.dev.image_repo
