name: Kind Cluster E2E tests

on:
  pull_request:
    types: [opened, reopened, synchronize]
    paths-ignore:
    - 'docs/**'
  push:
    branches:
      - develop
    paths-ignore:
    - 'docs/**'
    - '*.md'
  workflow_dispatch:

jobs:
  run-tests:
    name: e2e tests on kind
    runs-on: ubuntu-latest
    steps:
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.2.0
        with:
          version: v0.13.0
          kubectl_version: v1.24.0
          cluster_name: kinder
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v3 # default version of go is 1.10
        with:
          go-version: 1.20.4
      - name: Install Carvel Tools
        uses: carvel-dev/setup-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          only: ytt, kapp, kbld
          ytt: v0.40.1
          kapp: v0.47.0
          kbld: v0.34.0
      # Run benchmark with `go test -bench` and stores the output to a file
      - name: Install sg and run e2e tests on kind
        run: |
          set -e -x
          kubectl version --short

          ytt -f config/package-bundle/config -f config/dev | kbld -f- > kbld.out 2> kbldmeta.out
          cat kbldmeta.out | tail -n 1 | sed 's/.*final: secretgen-controller -> \(.*\)$/\1/p'  | tail -n 1 | xargs kind load docker-image --name kinder
          kapp deploy -a sg -f kbld.out -c -y

          mkdir tmp
          SECRETGEN_E2E_NAMESPACE=secretgen-test eval './hack/test-e2e.sh'
