name: test-gh
"on":
  push:
    branches:
      - develop
    paths-ignore:
    - 'docs/**'
    - '*.md'
  pull_request:
    types: [opened, reopened, synchronize]
    paths-ignore:
    - 'docs/**'
    - '*.md'

jobs:
  test-all:
    name: Test GH
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v3
      with:
        go-version: "1.19.6"
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
          fetch-depth: 0
    - name: Install Carvel Tools
      uses: carvel-dev/setup-action@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        only: ytt, kapp, kbld
        ytt: v0.40.1
        kapp: v0.47.0
        kbld: v0.34.0
    - name: Run Tests
      run: |
        set -e -x

        mkdir /tmp/bin
        export PATH=/tmp/bin:$PATH

        ./hack/verify-no-dirty-files.sh

        minikube start --driver=docker
        eval $(minikube docker-env --shell=bash)

        export SECRETGEN_E2E_NAMESPACE=secretgen-test

        ./hack/test-all.sh
